h1 {
    
    margin-top:20px;
    margin-bottom:30px;

    /* text-align: center;
    background-color:rgb(194, 197, 194);
    background-color:lightgreen;
    color: red;
    font-size: 80px; */
  }
  
  h2 {
    /* color: deeppink;
    font-size: 40px;
    font-weight: bolder; */
  }
  
  h3 {
    margin-top:20px;
    /* background-color:rgb(194, 197, 194);
    color: orange;
    font-size: 30px;
    font-weight: bolder; */
  }
  
  h4 {
    margin-top:20px;
    color: rgb(83, 141, 126);
    text-align: center;
    /* background-color:rgb(194, 197, 194);
  
    font-size: 30px;
    font-weight: bolder; */
  }

  img {
    margin-top: 20px;
    margin-bottom: 30px;
    /* box-shadow: 10px 10px 5px black */
  }
  
  section {
    /* background-color: #000; */
  }
  
  p {
    margin-left: 75px;
    margin-right: 40px;
    font-size: 16pt;
    /* font-size: 15px;
    color: gray; */
  }
  
  ul {
    /* border-style: solid;
    color: gray; */
  }
  
  #Index-Pg {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14pt;
  }

  #Comp-Pg {
    text-align: center;
    font-size: 14pt;
    font-style: oblique;
  }

  #Pg2 {
    margin-left: 75px;
    margin-right: 40px;
    font-size: 16pt;
  }